/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors Palette */

:root {
    --bank--: #0E38B5;
    --dark--: #140F0F;
    --primary--: #1ABC9C;
    --cake--: #1C83C1;
    --joypad--: #1EA4B6;
    --secondary-dark--: #2C3E50;
    --secondary--: #3A546D;
    --house--: #BA4B63;
    --submarine--: #CCB2A3;
    --bgwhite--: #FFFFFF;
    --iconb--: #616E7B;
    --iconc--: #777B7E;

}

/* Debug */

/* Main */

/* Contact Me */

/* .debug .contact_me .title {
    background-color: pink;
    height: 120px;
    width: 180px;
}

.debug .contact_me .form {
    background-color: lightsalmon;
    height: 350px;
    width: 400px;
} */

/* Footer */

/* .debug .footer_top {
    background-color: grey;
    height: 300px;
    width: 100%;
}

.debug .footer_bottom {
    background-color: darkgrey;
    height: 100px;
} */

/* Header */

.bg_nav {
    background-color: var(--secondary--);
}

header .navbar a {
    color: var(--bgwhite--);
}

header .navbar .navbar-toggler {
    color: var(--iconb--);
}

/* Main */

/* Jumbotron */

.jumbotron {
    background-color: var(--primary--);
}

.jumbotron .title {
    color: var(--bgwhite--);
}

.jumbotron .job span {
    color: var(--bgwhite--);
}

/* About */

.bg_about {
    background-color: var(--primary--);
}

.about .container {
    padding: 0 6rem;
}

.about .title {
    color: var(--bgwhite--);
}

/* Contact Me */

.bg_btn {
    background-color: var(--primary--);
}

.contact_me .container {
    padding: 0 6rem;
}
/* Utility */

.border_star {
    gap: 0.4rem;
}

.border_bottom {
    width: 4rem;
}