/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug */

/* Header */

.debug .container-fluid {
    background-color: darkslateblue;
    height: 80px;
}

.debug header .menu_left {
    background-color: aqua;
    height: 40px;
    width: 80px;
}

.debug header .menu_right {
    background-color: aqua;
    height: 40px;
    width: 50px;
}

/* Main */

.debug .start_bootstrap .container-fluid  {
    background-color: green;
    height: 500px;
}

.debug .avatar {
    background-color: blue;
    height: 150px;
    width: 150px;
}

.debug .title {
    background-color: blueviolet;
    height: 120px;
    width: 180px;
}

.debug .job {
    background-color: brown;
    height: 30px;
    width: 200px;
}